body {
    background-image: url("image/nature2.jpg");
    background-color: rgba(2, 99, 15, 0.699);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: sans-serif;
}
.main {
    color: rgb(202, 188, 188);
    font-family: sans-serif;
    text-align: center;
}
.theme {
    color: rgb(202, 188, 188);
    font-family: sans-serif;
    font-size: 0.8rem;
}
.theme_button {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(202, 188, 188);
    cursor: pointer;
}
.theme_button:hover {
    background-color: rgba(242, 243, 243, 0.39);
}
.bord_button {
    background-color: rgba(82, 99, 79, 0.411);
    color: rgb(252, 252, 252);
    height: 100px;
    width: 100px;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0.7;
}
.bord_button:hover {
    background-color: rgba(242, 243, 243, 0.39);
}
.reset {
    background-color: rgba(0, 0, 0, 0.438);
    color: rgb(202, 188, 188);
    cursor: pointer;
    height: 50px;
    width: 100px;
    font-size: 1.2rem;
}
.reset:hover {
    background-color: rgba(242, 243, 243, 0.39);
}